* {
  margin: 0;
  padding: 0;
  block-size: border;
}

button {
  border: 1px solid black;
  border-radius: 7px;
  width: 60px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  height: 22px;
  text-align: left;
  padding: 0 0 0 5px;
}

.header {
  background: rgba(32, 162, 174, 0.648);
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 0 20px 0;
}

.conteiner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  margin: 0 70px;
  padding: 20px;
}

.card-creator {
  border: 4px double black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  padding: 5px 0;
}

.card {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  width: 200px;
  height: 300px;
  border-radius: 30px;
}

.card p {
  word-break: break-all;
}

.card img {
  border: 2px solid black;
}

.filter {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px 70px;
  padding: 40px;
  width: auto;
}

.filter-settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 30px 0;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  word-break: break-all;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.created-cart {
  border: 2px solid black;
  border-radius: 15px;
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}